@font-face {
    font-family: 'Guardian Egypt';
    font-style: normal;
    font-weight: normal;
    src: local('Guardian Egypt'), url('../font/Guardian-EgypTT-Light.woff2') format('woff2');
    }
@font-face {
    font-family: 'Graphik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Graphik Regular'), url('../font/Graphik-Regular-Web.woff2') format('woff2');
    }
@font-face {
    font-family: 'Graphik Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Graphik Medium'), url('../font/Graphik-Medium-Web.woff2') format('woff2');
    }
    