//variables
    //color
    $dark-color: #222;
    $light-color: #595959;
    $lighter-color: #e1e3df;
    $btn-bg: #ededed;
    $category-selector:#dedede;
    $category-selector-hover:#808080;
    $dropdown-item-hover: #eaeaea;
    //font
    $title-font: Guardian Egypt;
    $font-regular: Graphik Regular;
    $font-medium: Graphik Medium;
    //breakpoint
    $sm: 576px;
    $md: 768px;
    $lg: 992px;
    $xl: 1200px;