@use 'color' as *;
@use 'mediaQueries' as media;
.btn {
  background-color: $dark-green;
  color: $white;
  border-radius: 0.3rem;
  text-align: center;
  display: block;
  width: fit-content;
  font-weight: bold;
  margin: auto;
  @include media.desktop {
    margin: initial;
  }
}
.btn.inverted {
  background-color: $white;
  color: $dark-green;
}
.btn.centered {
  margin: auto;
}
