//modules
@use 'color' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.down-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: block;
  height: 4.2rem;
  width: 4.2rem;
  margin: auto;
  &::before {
    content: "";
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    top: 15%;
    border-bottom: 2px solid $black;
    border-right: 2px solid $black;
    transition: top 0.3s ease, border-color 0.3s ease;
  }
  &:hover {
    &::before {
      top: 50%;
      border-color: $green;
    }
  }
}
