//modules
@use 'mediaQueries' as media;
@use 'color' as *;

section {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  padding-bottom: 10vh;
  img {
    width: 100%;
    max-width: 40rem;
  }
  @include media.desktop {
    height: 100vh;
    padding: initial;
  }
}
.hero {
  height: 100vh;
  min-height: 50rem;
}
.text-wrapper {
  text-align: center;
  @include media.desktop {
    text-align: initial;
  }
}
footer {
  text-align: center;
  padding: 3rem 0 9rem 0;
  img {
    width: 100%;
    padding: 2rem;
    max-width: 50rem;
  }
}
.hero {
  text-align: center;
  background-color: $dark-green;
  color: $white;
  img {
    max-width: 50rem;
  }
  @include media.desktop {
    min-height: 70rem;
  }
}
.cta {
  text-align: center;
  background-color: $dark-green;
  color: $white;
  height: 50vh;
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  @include media.tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include media.desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.box {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    img {
      width: 85%;
    }
  }
  &::before {
    content: "";
    padding-top: 100%;
  }
  img {
    width: 75%;
    transition: width 0.3s ease;
  }
}
